:root{
  --nav: #383838;
  --primary: #272727;
  --secondary: #408080;
  --tertiary: #C1A4BB;
}
.small_btn{
  margin: 10px 5px;
  padding: 2px 0;
  background-color: white;
  color: #272727;
  border-radius: 5px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geneva , sans-serif;
}
body{
  font-size: 16px;
  /* min-height: 100%; */
  background-color: var(--secondary);

  header{
    background-color: var(--nav);
    width: 100%;
    margin-bottom: 5em;
    nav{
      width: 100%;
      display: flex;
      height: 45px;
      background-color: var(--nav);
      
        .nav_left{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: relative;
          background-color: var(--primary);
          width: 28%;
          &_img{
            margin-right: 1em;
            img{
              height: 35px;
            }
            :hover{
              cursor: pointer;

              .nav_left_content{
                display: block;
              }
            }
          }
          &_content{
            display: none;
            position: absolute;
            background-color: #272727;
            min-width: 160px;
            z-index: 1;
            color: white;
            a{
              color: white;
              padding: 12px 16px;
              text-decoration: none;
              display: block;

              &:hover{
                background-color: #272727;
              }
            }
          }
        }
  
  
        .nav_right{
          background-color: var(--nav);
          width: 72%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-right: 13em;

          &_search{
            margin-right: 15px;
            
            form{
              display: flex;
            }
  
            &_input{
              padding: 10px 15px 10px 10px;
              font-size: 11px;
              color: var(--nav);
              background-color: var(--primary);
              border: 0;
              border-right: 1px solid #515151;
              width: 15.2em;
            }
  
            &_btn{
              color: white;
              background-color: var(--primary);
              border: 0;
              display: flex;
              align-items: center;
              padding: 10px;
            }
  
          }
          
          &_first_btn{
            background-color: #028BE5;
            margin: 0 5px;

            &:hover{
              background-color: #027bcc;
              text-decoration: underline;
            }
          }
          &_second_btn{
            background-color: #8FBD00;
            &:hover{
              background-color: #aae007;
            }
          }
  
          &_first_btn , &_second_btn{
            color: white;
            display: flex;
            align-items: center;
            font-weight: bold;
            text-align: center;
            border: 0;
            border-radius: 3px;
            font-size: 11px;

            p{
              margin: 0;
              padding: 5px;
            }
          }
        }
      
    }
      
  }
  
  
  main{
    /* margin: 0 auto;
    max-width: 56rem; */
    display: flex;
    justify-content: center;
    width: 100vw;
     .container{
      display: flex;
      /* margin: 5em 20em; */
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      width: 80%;
      gap: 1em;
     }
    .colonne_right{
      background-color: var(--tertiary);
      
      &_info{
        color: var(--secondary);
        display: flex;
        flex-direction: column;
  
        &_track{
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 7px;
          padding: 8px;
          margin: 10px;
          background-color: var(--primary);
  
          h5{
            padding-bottom: 10px;
            font-weight: bold;
            font-size: 10px;
          }
  
          i{
            color: #cac3c3;
            margin: 8px;
            font-size: 1.3em;
          }
  
          a{
            font-size: 10px;
            color: #cac3c3;
            text-decoration: underline;
            font-weight: bold;
          }
  
          p{
            padding-bottom: 10px;
            color: white;
          }
  
          .skyrock_music_logo img{
            height: 1.3em;
          }
  
          .add{
            display: flex;
            align-items: center;
            i{
              font-size: 17px;
            }
          }
        }
      }
      &_info , &_cases{
        h3{
          @extend .small_btn;
        }
      }
  
      &_cases{
        ul{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          list-style-type: none;
          margin: 10px;
  
          li{
            margin: 0 5px;
            img{
              width: 50px;
              height: 50px;
            }
          }
        }
  
        p{
          text-align: end;
          padding-right: 5px;
          a{
            text-decoration: underline;
          font-size: 10px;
          color: var(--secondary);
          }
        }
      }
    }
  
    .colonne_center{
      /* margin: 0 0.5em; */
      display: flex;
      flex-direction: column;
      flex: 4;
      
      .article{
        margin-bottom: 10px;
      background-color: pink;
      /* flex: 16; */
      background-color: white;
      color: var(--secondary);
      border: solid 1px var(--tertiary);
        h3{
          font-size: 18px;
          font-weight: bold;
          color: var(--secondary);
          padding-bottom: 8px;
        }
  
        &_container{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: row;
          margin: 5px;
          
          p{
            color: var(--secondary);
            font-size: 14px;
            text-align: justify;
            margin-left: 10px;
            margin-right: 10px;
          }
        }
        &_container--2{
          display: flex;
          align-items: center;
          flex-direction: column;
  
          p{
            color: var(--secondary);
            font-size: 14px;
            text-align: justify;
            margin: 20px 10px 0 10px;
          }
        }
        &_share{
          display: flex;
          align-items: center;
          color: var(--nav);
          margin: 10px;
          
          i{
            font-size: 0.7em;
            padding-right: 12px;
          }
          p{
            padding-right: 12px;
          }
          .like , .share , .retweet{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 5px;
          }
        }
  
        &_send_date{
          display: flex;
          margin: 5px;
          h4{
            color: var(--secondary);
            font-size: 16px;
  
          }
        }
      }
  
    }
  
    .colonne_left{
      background-color: var(--primary);
      position: relative;
      
      &_title{
        /* border-bottom: solid 1px;
        border-color: #408080; */
        width: 100%;
        padding: 5px 0 10px 0;
      }
  
      &_descr{
        padding: 10px 5px;
        font-weight: bold;
      }
  
      &_link{
        padding: 1em;
        a{
          color: #BAACAC;
          font-weight:lighter;
          text-decoration: underline;
        }
      }
  
      &_dtl_descr{
        padding: 5px;
        h4{
          font-weight: bold;
          font-size: 0.6em;
          padding-bottom: 1em;
        }
      }
  
      &_dtl_block{
        display: flex;
        flex-direction: column;
        background-color: #BABABA;
        
  
        &_one{
          display: flex;
          align-items: center;
          padding: 5px;
          color: #383838;
          border: solid 1px #408080;
  
          i{
            padding-right: 5px;
            font-size: 0.7em;
          }
        }
  
      }
  
      &_dtl_share{
        /* margin: 10px;
        padding: 2px 0;
        background-color: white;
        color: #272727;
        border-radius: 5px; */
        @extend .small_btn;
      }
  
      &_dtl_rs{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 40px 5px;
  
        .exception{
          font-size: 12px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
        }
        &_twitter{
          display: flex;
          align-items: center;
          background-color: #028BE5;
          color: white;
          border-radius: 15px;
          padding: 5px 15px;
          margin-bottom: 0.5em;
          
          i{
            padding-right: 5px;
            font-size: 13px;
          }
  
        }
        &_friend{
          background-color: white;
          color: #383838;
          display: flex;
          align-items: center;
          border-radius: 7px;
          padding: 5px 15px 5px 10px;
  
          i{
            padding-right: 5px;
            font-size: 13px;
          }
          
          p{
            color: var(--primary);
          }
        }
      }
  
      &_dtl_bottom{
        position:absolute;
        bottom: 1em;
        padding-left: 5px;
        padding-right: 5px;
        a{
          color: #2C88D6;
          text-decoration: underline;
        }
        i{
          color: red;
          padding-right: 2px;
        }
      }
    }
  
    .colonne_left , .colonne_center , .colonne_right{
      text-align: center;
      flex: 4;
      color: white;
      h1{
        font-size: 0.5em;
        a{
          color: white;
        }
      }
      h2, h3, p{
        font-size: 0.5em;
      }
    }
  
    .colonne_left , .colonne_right{
      min-height: 75em;
      border-radius: 5px;
      flex: 1;
    }
  }

  footer{
    background-color: #F4F4F4;
    width: 100%;
    display: flex;
    height: 3em;
    margin-top: 5em;

    .footer_img{
      display: flex;
      width: 22em;
      justify-content: flex-end;
      align-items: center;

      img{
        object-fit: none;
        
      }
    }
    ul{
      margin-top: 2px;
      display: flex;
      align-items: center;
      background-color: white;
      width: 100%;
      li{
        white-space: nowrap;
        height: 100%;
        display: flex;
        align-items: center;
        text-transform:uppercase;
        border-right: 3px solid #F4F4F4;
        color: var(--nav);
        padding-right: 4em;
        padding-left: 1em;
        font-weight: bold;
        font-size: 14px;
        list-style-type: none;
      }
    }
    
  }
}

@media screen and (max-width: 760px){
  .img_article , .img_article img{
    width: 100%;
  }
  body main .container{
    flex-direction: column;
  }
  body main .colonne_center {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body main .colonne_center .article {
    width: 100%;
  }
  body header nav .nav_right , body header nav .nav_right_search {
    margin-right: 0;
    width: initial;
  }
  body header nav .nav_left_img {
    
    margin-right: 0;
  }
  body header nav .nav_left {
    width: 10%;
  }
  body main .colonne_left, body main .colonne_right {
    min-height: min-content;
    height: fit-content;
  }
  body main .colonne_left_dtl_bottom {
    display: none;
  }
  body main .colonne_left h2, body main .colonne_left h3, body main .colonne_left p, body main .colonne_center h2, body main .colonne_center h3, body main .colonne_center p, body main .colonne_right h2, body main .colonne_right h3, body main .colonne_right p{
    font-size: 1em;
  }
}